{# src/Blogger/BlogBundle/Resources/views/base.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/bloggerblog/css/blog.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block sidebar %}
 {{ render_esi(controller('BloggerBlogBundle:Blog:Esi', { 'maxPerPage': 5 })) }}
{% endblock %}