{% extends 'base.html.twig' %}

{% block body %}


<html lang="en">
<head>
    <meta charset="utf-8" />
    <link id="themecss" rel="stylesheet" type="text/css" href="//www.shieldui.com/shared/components/latest/css/light/all.min.css" />
    <script type="text/javascript" src="//www.shieldui.com/shared/components/latest/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="//www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
</head>
<body class="theme-light">
<div id="grid"></div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#grid").shieldGrid({
            dataSource: {
                events: { 
                    cancel: function(e) {
                        alert("canceled action");
                    },
                     edit: function(e) {
                        alert("Edit event is fired");
                        console.log(e);

                            if (e.field == "column_i_want_to_disable") {
                                e.options = { enabled: false };
                             }
                        },
                    error: function (event) {
                        if (event.errorType == "transport") {
                            // transport error is an ajax error; event holds the xhr object
                            console.log("transport error: " + event.error.statusText);
                            // reload the data source if the operation that failed was save
                            if (event.operation == "save") {
                                this.read();
                            }
                        }
                        else {
                            // other data source error - validation, etc
                            alert(event.errorType + " error: " + event.error);
                        }
                    }
                    
                },
                remote: {
                    read: {
                        type: "GET",
                        url: "/getschedules",
                        dataType: "json"
                    },
                    modify: {
                        create: {
                            url: "/orders/OrderCreate",
                            type: "post",
                            data: function (edited) {
                                var items = [];
                                for (var i = 0; i < edited.length; i++) {
                                    var date = edited[i].data.OrderDate ? edited[i].data.OrderDate.toJSON() : new Date().toJSON();
                                    items.push({
                                        ContactName: edited[i].data.ContactName,
                                        HasDiscount: edited[i].data.HasDiscount,
                                        OrderDate: date,
                                        Quantity: edited[i].data.Quantity,
                                        UnitPrice: edited[i].data.UnitPrice,
                                        ID: edited[i].data.ID
                                    });
                                }
                                return { "": items };
                            }
                        },
                        update: function (items, success, error) {

                            console.log(items);

                            for(var i=0; i<items.length; i++){

                                 $.ajax({
                                type: "PUT",
                                url: "/schedulesupdate/" + items[i].data.id,
                                dataType: "json",
                                contentType: "application/json",
                                data: JSON.stringify(items[i].data)
                            }).then(success, error);


                            }

                           
                        },
                        remove: {
                            url: "/orders/OrderRemove",
                            type: "post",
                            data: function (edited) {
                                var items = [];
                                for (var i = 0; i < edited.length; i++) {
                                    items.push({
                                        ContactName: edited[i].data.ContactName,
                                        HasDiscount: edited[i].data.HasDiscount,
                                        OrderDate: edited[i].data.OrderDate.toJSON(),
                                        Quantity: edited[i].data.Quantity,
                                        UnitPrice: edited[i].data.UnitPrice,
                                        ID: edited[i].data.ID
                                    });
                                }
                                return { "": items };
                            }
                        }
                    }
                },
                schema: {
                    fields: {
                        id: { path: "id", type: Number },
                        desde: { path: "desde", type: String },
                        hasta: { path: "hasta", type: String },
                        programa: { path: "programa", type: String },
                        dia: { path: "dia", type: String }
                    }
                }
            },
            filtering: {
                enabled: true
            },
            paging: {
                pageSize: 10
            },
            sorting: false,
            rowHover: false,
            columns: [
                { field: "desde", title: "Desde",width: 80, 
            format: function(value) { 
                return value ;}}, //JSON.stringify(value)

                { field: "hasta", title: "Hasta",width: 80, 
            format: function(value){ 
                return value ; } },
                { field: "programa", title: "Programa",width: 400 },
                { field: "dia", title: "Dia",width: 90 }
                
            ],
            editing: {
                enabled: true,
                event: "click",
                type: "cell",
                batch: true,
                confirmation: {
                    "delete": {
                        enabled: true,
                        template: function (item) {
                            return "Delete row with ID = " + item.ID
                        }
                    }
                }
            },
            toolbar: [
                {
                    buttons: [
                        { commandName: "insert", caption: "Insert" },
                        { commandName: "save", caption: "Save" },
                        { commandName: "cancel", caption: "Cancel" }
                    ],
                    position: "top"
                }
            ]
        });

var grid = $("#grid").swidget();
// hides the first two columns
grid.hideColumn("id");

    });
</script>
<style>
    .deleteButton img
    {
        margin-right: 3px;
        vertical-align: bottom;
    }
</style>
</body>
</html>

{% endblock %}
