{% extends 'base.html.twig' %}

{% block body %}
    <h1>Programaciontv Lista</h1>

    <table>
        <thead>
            <tr>
                <th>Desde</th>
                <th>Hasta</th>
                <th>Programa</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for programaciontv in programaciontvs %}
            <tr>
                <td><a href="{{ path('programaciontv_show', { 'id': programaciontv.id }) }}">{{ programaciontv.desde|date('H:i:s')}}</a></td>
                <td>{% if programaciontv.hasta %}{{ programaciontv.hasta|date('H:i:s') }}{% endif %}</td>
                <td>{{ programaciontv.programa }}</td>
                <td>{{ programaciontv.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('programaciontv_show', { 'id': programaciontv.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('programaciontv_edit', { 'id': programaciontv.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('programaciontv_new') }}">Create a new entry</a>
        </li>
    </ul>

{% endblock %}
