{% extends 'base.html.twig' %}

{% block body %}
    <h1>Programaciontv</h1>

    <table>
        <tbody>
            <tr>
                <th>Desde</th>
                <td>{% if programaciontv.desde %}{{ programaciontv.desde|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Hasta</th>
                <td>{% if programaciontv.hasta %}{{ programaciontv.hasta|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Programa</th>
                <td>{{ programaciontv.programa }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ programaciontv.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('programaciontv_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('programaciontv_edit', { 'id': programaciontv.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
