{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'BloggerBlogBundle::base.html.twig' %}

{% block body %}
    {% for blog in blogs %}
        <article class="blog">
           {{ blog.title }}
           {{ blog.key }}
           {{ blog.doc_count }}

        </article>
    {% else %}
        <p>There are no blog entries for symblog</p>
    {% endfor %}
{% endblock %}